.businessCard{
	background: white;
	width: 24rem;
	padding:1rem;
	margin-top: 4rem;
	@media (max-width: 900px) {
		margin-top: 1rem;
		margin-bottom: 2rem;
	}
	@media (max-width: 680px) {
		width: 86%;
	}

	img{
		width: 6rem;
		padding: 1rem;
	}
	p{
		line-height: 1rem;
		@media (max-width:370px) {
			padding: 0.3rem;
		}
	}
	p:nth-child(odd){
		padding-top: 0;
		padding-bottom: 0;	
	}
	span{
		@media (max-width:370px) {
			display: block;
			margin-bottom: 0.2rem;
		}
	}

}