.businessCard{
	background: white;
	@include rem-fallback(width, 24);
	@include rem-fallback(padding,1);
	@include rem-fallback(margin-top,4);
	@media (max-width: 900px) {
		@include rem-fallback(margin-top,1);
		@include rem-fallback(margin-bottom,2);
	}
	@media (max-width: 680px) {
		width: 86%;
	}

	img{
		width: 6rem;
		padding: 1rem;
	}
	p{
		@include rem-fallback(line-height,1);
		@media (max-width:370px) {
			@include rem-fallback(padding,0.3);
		}
	}
	p:nth-child(odd){
		padding-top: 0;
		padding-bottom: 0;	
	}
	span{
		@media (max-width:370px) {
			display: block;
			@include rem-fallback(margin-bottom,0.2);
		}
	}

}